<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set Azure SDK logging to WARN to reduce noise -->
    <logger name="com.azure" level="WARN" />
    <logger name="reactor.netty" level="WARN" />
    <logger name="com.azure.identity" level="DEBUG"/>
</configuration>
